.vs/StatsCompare/v14/.suo
StatsCompare/obj/Debug/StatsCompare.csproj.FileListAbsolute.txt
StatsCompare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StatsCompare/obj/Debug/DesignTimeResolveAssemblyReferences.cache
StatsCompare/obj/Debug/StatsCompare.csproj.GenerateResource.Cache
StatsCompare/obj/Debug/StatsCompare.exe
StatsCompare/obj/Debug/StatsCompare.pdb
StatsCompare/bin/Debug/StatsCompare.pdb
StatsCompare/bin/Debug/StatsCompare.exe
.vs/StatsCompare/v14/.suo
StatsCompare/bin/Debug/StatsCompare.exe
StatsCompare/bin/Debug/StatsCompare.pdb
StatsCompare/obj/Debug/DesignTimeResolveAssemblyReferences.cache
StatsCompare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StatsCompare/obj/Debug/StatsCompare.csproj.FileListAbsolute.txt
StatsCompare/obj/Debug/StatsCompare.csproj.GenerateResource.Cache
StatsCompare/obj/Debug/StatsCompare.exe
StatsCompare/obj/Debug/StatsCompare.pdb